:root {
  /* We create some variables for our color palette */
  --color-primary: #003049;
  --color-secondary: #D62828;
  --color-tertiary: #F77F00;
  --color-quaternary: #FCBF49;
  --color-quinary: #EAE2B7;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}


#blob {
  background: linear-gradient(120deg, var(--color-secondary), var(--color-tertiary), var(--color-quinary));
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  animation: rotate 20s infinite;
  opacity: 0.8;

  z-index: -2;
}



@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(100px);
}

