@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


body {
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.HomePage {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

.MainContent {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 1);
  flex-grow: 1;
  margin: 50px;
  padding: 25px;
}

.Container {
  display: flex; 
  height: 100%;
}

.LeftPannel {
  display: flex;
  flex-direction: column;
  width: 50%;
  @media (max-width: 991px) {
    width: 100%;
  }
}

.RightPannel {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
  @media (max-width: 991px) {
    width: 100%;
  }
}

.TitleContent {
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  margin-right:auto;
}

#Title {
  color: rgba(255, 255, 255, 1);
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 40px;
  letter-spacing: normal;
}

#Subtitle {
  color: rgba(255, 255, 255, 1);
  align-self: center;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.ContactInfo {
  position: relative;
  height: 200px;
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
  font-style: italic;
  margin-top: auto;
}

.ContactInfo a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.RightPannel {
  margin-top: 0;
}

/* For when the screen is smaller than 700px but bigger than 400 */
@media (max-width: 700px) {
  .MainContent {
    margin: 25px;
  }
  .TitleContent {
    margin: 0;
  }
  #Title {
    font-size: 30px;
  }
  #Subtitle {
    font-size: 15px;
  }

  .ContactInfo{
    display: none;
  }
  .Container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
  }
}

/* For when the screen is smaller than 400px */
@media (max-width: 400px) {
  .MainContent {
    margin: 10px;
  }
  .Container {
    display: relative;
  }
  .TitleContent {
    margin: 0;
  }
  #Title {
    font-size: 20px;
  }
  #Subtitle {
    font-size: 10px;
  }
  .ContactInfo{
    display: none;
  }
  .Container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
  }
}