.Resume {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* We wan this container on the bottom of the div */
    justify-content: flex-end;
    align-items: flex-end;
    gap: 13px;
    margin: 0;
    padding: 0;
}

.CompanyTitle, .SchoolTitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
    margin: 0;
}

.Job, .EducationInfo {
    padding-left: 15px;
    /* We want to align text justify*/
    text-align: justify;
    margin-bottom: 0px;
    /* We want the gap between span and p to be small
    and the gap between p and p to be big */
    font-size: 14px;

}

.Job p {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    color: #FFF;
}

.Job ul {
    margin: 5px 0 10px 20px;
    padding: 0;
    list-style-type: none; /* Remove the * from the list */
}

.Job ul li {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #FFF;
    position: relative;
}

.expandButton {
    background: none;
    border: none;
    color: #00F;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    text-decoration: underline;
}

.Job span:first-child {
    font-weight: 200;
}

/* We want the second span in job to be italic */
.Job span:nth-child(2) {
    font-style: italic;
}

.ScrollContainer {
    max-height: 100vh; /* Adjust as needed */
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.ScrollContainer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.EducationInfo {
    /* Remove or adjust padding-left to align with other sections */
    padding-left: 0;
    text-align: justify;
    margin-bottom: 0px;
    font-size: 14px;
}

.SchoolTitle {
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    margin-bottom: 5px;
}
