.Resume {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* We wan this container on the bottom of the div */
    justify-content: flex-end;
    align-items: flex-end;
    gap: 13px;
    margin: 0;
    padding: 0;
}

.CompanyTitle, .SchoolTitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
    margin: 0;
}

.Job, .EducationInfo {
    padding-left: 15px;
    /* We want to align text justify*/
    text-align: justify;
    margin-bottom: 0px;
    /* We want the gap between span and p to be small
    and the gap between p and p to be big */
    font-size: 14px;

}


 
.Job span:first-child {
    font-weight: 200;
}

/* We want the second span in job to be italic */
.Job span:nth-child(2) {
    font-style: italic;
}
